/* MemberCard.css */
.custom-card {
  border: 1px solid #e0e0e0;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  width: 250px;
  /* overflow: hidden; */
  transition: transform 0.2s;
}

.custom-card:hover {
  transform: scale(1);
}

.card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.card-image {
  width: 100%;
  border-radius: 2px;
  height: 100%;
}

.hover-content {
  display: none;
  text-align: center;
}

.custom-card:hover .hover-content {
  display: block;
}

h3 {
  font-size: 1.2rem;
  margin: 0;
}

p {
  font-size: 1rem;
  color: #777;
  margin: 0;
}

.social-icons {
  margin-top: 20px;
}

.social-icons a {
  text-decoration: none;
  color: #333;
  margin: 0 10px;
  font-size: 1.2rem;
}

.social-icons a:hover {
  color: #0077b5;
}  