@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;1,100&display=swap');

:root {
    /* --blue: rgb(81, 59, 171); */
    --black: black;
    --light-color: #666;
    --box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0.1);
    --border: 2rem solid rgba(0, 0, 0.1);
    --outline: .1rem solid rgba(0, 0, 0.1);
}

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .2s linear;
}

html {
    /* font-size: 62.5%; */
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 7rem;
    height: 100%;
}

body {
    /* border: 2px solid black; */
    background-color: white;
    text-align: center;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin-top: 100px;
}

.header {
    border: 1px solid black;
    display: flex;
    /* position: relative; */
    position: fixed;
    width: 100%; 
    top: 0; 
    align-items: center;
    padding: 0.7rem;
    justify-content: space-between;
    background: lightblue;
    box-shadow: var(--box-shadow);
    border-radius: 5rem;
    margin-bottom: 10px;
    z-index: 100;
    
}

/* Apply a zoom effect to the images by default */
.header .nss-logo img {
    /* border: 1px solid black; */
    width: 50px;
    height: 50px;
    /* Add some space to the left (adjust the value as needed) */
    transform: scale(2);
    /* Adjust the scale factor as needed for the desired zoom level */
    transition: transform 0.2s;
    /* Add a smooth transition effect */
    margin-left: 20px;
}

.header .father-logo img {
    /* border: 1px solid black; */
    width: 30px;
    height: 30px;
    /* Add some space to the left (adjust the value as needed) */
    transform: scale(2.5);
    /* Adjust the scale factor as needed for the desired zoom level */
    transition: transform 0.2s;
    /* Add a smooth transition effect */
    margin-left: 30px;
    margin-top: 10px;
}


.header .crce-logo img {
    /* border: 1px solid black; */
    width: 30px;
    height: 30px;
    /* Add some space to the left (adjust the value as needed) */
    transform: scale(3);
    /* Adjust the scale factor as needed for the desired zoom level */
    transition: transform 0.2s;
    /* Add a smooth transition effect */
    margin-left: 33px;
}

header .nss-title {
    color: blue;
    background-clip: text;
    text-align: center;
    /* Center-align the text */
    flex-grow: 1;
    /* Allow .nss-title to grow and occupy available space */
}

.header .navbar a {
    font-size: 1.7rem;
    margin: 0 1rem;
    color: var(--black);
}

.header .navbar a:hover {
    color: var(--blue);
}

#menu-btn {
    display: none;
    
}

.header .navbar.active {
    right: 2rem;
    transition: .4s linear;
}

/* Media query for screens with a maximum width of 720px (for mobile devices) */
@media only screen and (max-width: 720px) {
    .header .nss-logo img {
        margin-left: 20px;
        transform: scale(1.5);
        /* Adjust the scale factor as needed for the desired zoom level */
        transition: transform 0.2s;
        /* Add a smooth transition effect */
    }

    .header .father-logo img {
        margin-left: 10px;
        transform: scale(2);
        /* Adjust the scale factor as needed for the desired zoom level */
        transition: transform 0.2s;
        /* Add a smooth transition effect */
    }

    .header .crce-logo img {
        margin-left: 13px;
        transform: scale(2.3);
        /* Adjust the scale factor as needed for the desired zoom level */
        transition: transform 0.2s;
        /* Add a smooth transition effect */
    }
}

@media (max-width:450px) {


    .header .crce-logo img {
        margin-right: 20px;
    }

    .nss-title h1 {
        font-size: 20px;
        /* display: none; */
        margin-right: 30px;
    }


}

/* Media query for screens with a minimum width of 721px (for laptops and larger screens) */
@media only screen and (min-width: 721px) {
    .header .nss-logo img {
        margin-left: 20px;
        transform: scale(2);
        transition: transform 0.2s;
    }

    .header .father-logo img {
        margin-left: 30px;
        transform: scale(2.5);
        transition: transform 0.2s;
    }

    .header .crce-logo img {
        margin-left: 33px;
        transform: scale(3);
        transition: transform 0.2s;
    }

    #title {
        font-size: 50px;

    }

    .form {
        padding: 10px;
    }

    input[type="text"] {
        border: 2px solid black;
        border-radius: 15px;
    }
}


#title {
    font-size: 50px;
    color: blue;
    font-family: monospace;
    background-color: lightblue;
    margin-top: 30px;
}


@media only screen and (max-width: 720px) {
    #title {
        font-size: 30px;
    }
}


ul {
    list-style: none;
    /* padding: 10px; */
    margin: 10px;
}

ul li {
    display: inline;
    margin-right: 20px;
    color: blue;
    font-size: 20px;
}

/* Style for the dropdown button */
.dropdown-button {
    position: relative;
    display: inline-block;
}

/* Style for the dropdown button itself */
.dropbtn {
    background-color: transparent;
    /* Background color of the button */
    color: blue;
    /* Text color of the button */
    /* padding: 10px 20px; */
    /* Padding for the button */
    border: none;
    /* Remove button border */
    cursor: pointer;
    /* Change cursor to pointer on hover */
    font-size: 20px;

}



/* Style for the dropdown content (hidden by default) */
.dropdown-content {
    display: none;
    /* Hide the dropdown content by default */
    position: absolute;
    background-color: #f9f9f9;
    /* Background color of the dropdown */
    min-width: 200px;
    /* Minimum width of the dropdown content */
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    /* Box shadow for the dropdown */
    z-index: 1;
    /* Ensure the dropdown is on top of other elements */
    right: 0;
    /* Position the dropdown content to the right edge of the button */
}

/* Style for the links inside the dropdown content */
.dropdown-content a {
    color: black;
    /* Text color of dropdown links */
    padding: 12px 16px;
    /* Padding for dropdown links */
    text-decoration: none;
    /* Remove underline from links */
    display: block;
    /* Make links block elements (full width) */
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #ddd;
    /* Background color on hover */
}

/* Show the dropdown content when the dropdown button is clicked */
.dropdown:hover .dropdown-content {
    display: block;
}

#check {
    display: none;
}

.header .icon {
    display: none;
    font-size: 2rem;
    cursor: pointer;
    position: absolute;
    right: 5%;
    color: blue;
}

@media (max-width: 992px) {
    .header {
        padding: 1.3rem 5%;

    }
}

/*Menu icon css*/
@media (max-width: 870px) {
    /* .header{
        height: 90px;
    } */
    .header .icon {
        display: inline-flex;
    }

    #check:checked~.icon #menu-icon {
        display: none;
    }

    .icon #close-icon {
        display: none;
    }

    #check:checked~.icon #close-icon {
        display: block;
    }


    ul {
        position: absolute;
        /* top: 100%; */
        top: 100px;
        /* left: 0; */
        right: 0;
        /* width: 100%;
        height: 0;  */
        background: lightblue;
        list-style: none;
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
        overflow: hidden;
        transition: .2s ease;
        z-index: 1;
        width: 0;
        height: 100vh; 
        /* left: 30%; */
        margin-right: 0;
    }

    
    #check:checked~ul {
        /* height: 17.7rem; */
        /* right: 80%; */
        width: 70%;
    }


    ul li {
        display: block;
        font-size: 1.3rem;
        /* margin: 1.7rem 0; */
        margin: 2.5rem 0;
        text-align: center;
        /* transform: translateY(-50px); */
        
        transition: .3s ease;
        text-align: center;
        position: relative;
        /* top: 80px; */
        top: 20px;
        right: 0;
    }

    #check:checked~ul li {
        transform: translateY(0);

    }


    .dropdown {
        position: relative;
        /* margin: 10px; */
        display: block;
    }


    .dropdown-content {

        top: 100%;
        /* Position below the label */

        right: 0;
        line-height: 0.1;
        display: block;
        max-height: 200px;
    }
}


/*Home page*/
.banner-gif img {
    border-radius: 15px;
    margin-top: 10px;
    z-index: -1;

}

.Home h1 {
    text-align: center;
    color: blue;
    font-family: 'Allerta', sans-serif;
    font-size: 35px;
    font-weight: normal;
    margin-bottom: 10px;
}

.Home p {

    text-align: justify;
    color: #201C1B;

    padding: 0 50px 0 50px;
    font-size: 1.25rem;
    font-weight: 300;
}

.about-us {
    margin-top: 40px;
}

.prin {
    margin-top: 40px;

}

.prin h2 {
    color: blue;
    font-family: 'Allerta', sans-serif;
    text-align: right;
    font-weight: normal;
    margin-right: 60px;
    margin-top: 20px;
}

.prin .prin-img-p {
    display: flex;
    align-items: center;
    justify-content: center;


}

.prin .prin-img-p .card {
    width: max-content;

    align-items: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-left: 50px;
    margin-right: 50px;
}

@media (max-width:1000px) {
    .prin .prin-img-p .card img {
        width: 100%;
        /* object-fit: cover; */
    }

    .prin .prin-img-p .card {
        width: 90%;
        align-items: center;
        text-align: center;
        justify-content: center;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        margin-left: 5%;
        margin-right: 5%;
    }

    .prin .prin-img-p {
        display: block;
        align-items: center;
    }
}


.flagship-text h1 {
    font-family: 'Brush Script MT', cursive;
    font-size: 60px;
    margin-top: 30px;
}

/*Volunteer data*/
.form {
    padding: 10px;
}

#srno {
    text-align: center;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

input[type="text"] {
    border: 2px solid black;
    border-radius: 15px;
}


#btn {
    background-color: lightblue;
    border: none;
    border-radius: 15px;
    color: blue;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-flex;
    font-size: 15px;
    margin-bottom: 5px;
}

@media only screen and (max-width: 720px) {

    input[type="text"] {
        width: 25%;
    }
}

#title2 {
    display: center;
    text-align: center;
    font-family: monospace;
    font-size: 40px;
    color: dodgerblue;
}

.event-category {
    padding-top: 30px;
    color: blue;
}

table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    justify-content: center;
    align-items: center;
    /* box-shadow: var(--box-shadow); */
    box-shadow: 5px 10px 5px #888888;
    padding-bottom: 50px;
}

td,
th {
    border: 1px solid black;
    padding: 8px;
    width: 25%;
    /* Set the width for each column */
}

th {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: lightblue;
    color: blue;
}

tr:hover {
    background-color: #ddd;
}

#ev {
    display: center;
    text-align: center;
    font-family: monospace;
    font-size: 40px;
    color: dodgerblue;
}


.footer {
    background: white;
    margin-top: 50px;
}

.footer .box-container {
    /* border: 1px solid black; */
    background-color: lightblue;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(26rem, 1fr));
    gap: 1.5rem;
    padding-top: 20px;
}


.frLogo {
    margin-top: 30px;

}

.footer .box-container .box h3 {
    font-size: 1.5rem;
    color: blue;
    padding-top: 1rem;
    padding-bottom: 1rem;
    justify-content: left;
}

.footer .box-container .box h3 i {
    color: blue;
}

.footer .box-container .box .links {
    display: block;
    font-size: 1rem;
    color: var(--black);
    padding: 1rem 0;
    text-align: left;
    margin-left: 90px;
}

.footer .box-container .box .links i {
    color: blue;
    padding-right: .5rem;

}

.footer .box-container .box .lower {
    text-transform: lowercase;
}

#contact {
    /* border: 1px solid black; */
    margin-right: 20px;
}

.footer .box-container .box .links:hover i {
    padding-right: 2rem;
}

.footer .box-container .box p {
    line-height: 2;
    font-size: 1.2rem;
    color: var(--light-color);
    padding: 1rem 0;
    margin-top: 20px;
}

.footer .box-container .box .share a {
    border: 0px solid;
    height: 3rem;
    width: 4rem;
    line-height: 3rem;
    border-radius: .5rem;
    font-size: 2rem;
    text-align: center;
    color: blue;
    margin-left: .2rem;
    background: #eee;
    font-style: normal;
}

.footer .box-container .box .share a:hover {
    background: blue;
    color: white;
}

.inline {
    display: inline-flex;
    /* margin-right: auto; */
}

.nssLogo {
    margin-right: 90px;
}

.inline .nss-logo {
    /* border: 1px solid black; */
    width: 50px;
    height: 50px;
    /* Add some space to the left (adjust the value as needed) */
    transform: scale(2);
    /* Adjust the scale factor as needed for the desired zoom level */
    transition: transform 0.2s;
    /* Add a smooth transition effect */
    /* margin-right: 20px; */
    /* padding-left: 60px; */
}

.inline .nss-logo-h3 {
    margin: 0;
    font-size: large;
    line-height: 0.9;
    text-align: left;
    margin-right: 20px;
    margin-left: 70px;
}

.inline .father-logo {
    /* border: 1px solid black; */
    width: 50px;
    height: 50px;
    /* Add some space to the left (adjust the value as needed) */
    transform: scale(2.5);
    /* Adjust the scale factor as needed for the desired zoom level */
    transition: transform 0.2s;
    /* Add a smooth transition effect */
    line-height: 20px;
    margin-left: 20px;
}

.inline .crce-logo {
    /* border: 1px solid black; */
    width: 50px;
    height: 50px;
    /* Add some space to the left (adjust the value as needed) */
    transform: scale(3);
    /* Adjust the scale factor as needed for the desired zoom level */
    transition: transform 0.2s;
    /* Add a smooth transition effect */
    margin-left: 50px;
}

.inline .crce-logo-h3 {
    margin: 0;
    font-size: large;
    line-height: 0.9;
    text-align: left;
    margin-left: 70px;
}

.footer-end {
    padding-top: 20vh;
    background-color: lightblue;
    width: 100%;
}

/* Style for the names of the designers */
.designers h5 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    /* Adjust the font size as needed */
    color: #007bff;
    /* Text color */
    font-weight: bold;
    /* Make the text bold */
}

/* Style for the copyright notice */
.copyright-and-designers {
    padding: 10px;
    background-color: rgb(53, 190, 235);
    justify-content: center;
}

.copyright {
    font-size: 20px;
    /* Adjust the font size as needed */
    color: white;
    /* Text color */
    margin-top: 20px;
    /* Add some space above the copyright notice */
    font-weight: bold;
}

.designers,
.nss {
    font-size: 20px;
    /* Adjust the font size as needed */
    color: white;
    /* Text color */
    margin-top: 20px;
    /* Add some space above the copyright notice */
    font-weight: bolder;
}

.nss:hover,
.designers:hover {
    color: rgb(8, 60, 112);
}

#last-updated {
    margin-top: 20px;
}

@media only screen and (min-width:590px) and (max-width: 720px) {
    .inline .nss-logo {
        margin-left: 60px;

    }

    .inline .nss-logo-h3 {
        margin-left: 20px;
        padding-left: 50px;

    }
}

@media (min-width:320px) and (max-width: 590px) {
    .box-container {
        width: fit-content;
    }

    .inline .nss-logo {
        margin-left: 60px;
    }

    .inline .nss-logo-h3 {
        font-size: 1rem;
        margin-left: 50px;
        padding-left: 50px;
    }


}

@media (min-width:320px) and (max-width:420px) {
    .footer-end {

        width: 415px;
    }
}

/*Carousel CSS*/

.carousel {
    /* border: 1px solid black; */
    overflow-x: hidden;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
}

.inner {
    white-space: nowrap;
    transition: transform 0.3s;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
}

.carousel-item {
    /* border: 1px solid black; */
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 490px;
    /* background-color: #fff; */
}

.carousel-item-text {
    /* border: 1px solid black; */
    display: flex;
    font-size: 2rem;
    font-weight: bolder;
    text-align: justify;
    margin: 40px 0 40px 0;
    padding: 0 20px 0 20px;
    white-space: normal;
    color: #617d98;
    position: relative;
    top: 270px;
}

.carousel-img {
    width: 700px;
    padding: 0 20px 0 20px;
    position: absolute;
}

/* final stage */

.carousel-buttons {
    display: flex;
    justify-content: space-evenly;
}

.button-arrow {
    background: none;
    border: none;
    cursor: pointer;
    margin-top: 50px;
}

.indicators {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 50px;
}

.indicator-buttons {
    border: none;
    cursor: pointer;
}

.indicators>button {
    margin: 5px;
    background: none;
}

.indicator-symbol {
    color: #26343f;
}

.indicator-symbol-active {
    color: blue
}

@media (min-width: 620px) and (max-width: 880px) {

    /* .carousel-item-text{
        display: none;
    } */
    .carousel {
        width: 80%;
        align-items: center;
        justify-content: center;
    }

    .carousel-img {
        width: 400px;

    }

    .carousel-item-text {
        max-width: min-content;
        word-wrap: break-word;
        font-size: 1.5rem;

    }

}

@media (max-width: 620px) {
    .carousel {
        width: 100%;
    }

    .carousel-item {
        /* width: ; */
        align-items: center;
        justify-content: center;
        height: 300px;

    }

    .carousel-img {
        width: 300px;
        position: absolute;
    }

    .carousel-item-text {
        /* max-width: min-content;*/
        word-wrap: break-word;
        font-size: 1.2rem;
        position: relative;
        top: 130px;
        overflow-wrap: break-word;
        word-break: break-word;
    }

    .carousel-buttons {
        justify-content: center;
    }
}

/* Add this CSS to your stylesheet */
.scroll-to-top-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 50px;
    cursor: pointer;
}